NEXT_PUBLIC_DIRECTUS_AUTHENTICATED_ROLE_ID=
NEXT_PUBLIC_ACCESS_TOKEN_TTL_MS=
NEXT_PUBLIC_API_URL=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APPLICATION_URL=http://localhost:3000
NEXTAUTH_SECRET=
JWT_SECRET=